.main--header {
    display: flex;
    justify-content: space-between;
}

.main--logo {
    height: 50px;
    width: 50px;
    background-image: url(https://picsum.photos/200);
    border-radius: 50%;
}

nav {
 display: flex;
 align-items: center;
}

nav>a {
    border: 1px solid black;
    padding: 8px;
    text-decoration: none;
    color: black;
    border-radius: 4px;
}